Students Grade Calculator

In [ ]:
s1=int(input("Enter Python Marks"))

In [ ]:
s2=int(input("Enter JS Marks"))

In [ ]:
s3=s1=int(input("Enter Phy Marks"))

In [ ]:
sum=s1+s2+s3

In [ ]:
sum

In [ ]:
avg=sum/3

In [ ]:
avg

In [ ]:
if avg<40:
    print("Fail ang Got AVG ",avg)
elif avg>=40 and avg<50:
    print("PASS and Got grade D AVG ",avg)
elif avg>=50 and avg<60:
    print("PASS and Got grade C AVG ",avg)
elif avg>=60 and avg<80:
    print("PASS and Got grade B AVG ",avg)
elif avg>=80 and avg<100:
    print("PASS and Got grade A AVG ",avg)
else:
    print("Inavlid input")

In [ ]:
unit=int((input("Enter Consumed unit")))

In [ ]:
bill=1
if unit<=100:
    bill=unit*30
elif unit<=200:
    bill=100*30+(unit-100)*40
elif unit<=300:
    bill=100*30+100*40+(unit-200)*60
else:
    bill=100*30+100*40+100*60+(unit-300)*80
if bill>=10000:
    tax=bill*0.10
    bill=bill+tax
    print("Total bill is ",bill," and consumed units are ",unit )

In [4]:
i=1
while i<=50:
    if (i%3==0 and i%5==0) or i%3==0:
        print(i)
    i+=1

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [6]:
n=int(input("Enter n"))
r=1
while n>=1:
    r=r*n
    
    n-=1

Enter n 5

In [7]:
print(r)

120

In [11]:
for i in range(1,10):
    if i%2==0:
        print(i)

2
4
6
8

In [13]:
def Sum():
    n1=int(input("Enter N1"))
    n2=int(input("Enter N2"))
    sum=n1+n2
    print(sum)

In [14]:
Sum()

Enter N1 90
Enter N2 56

146

In [15]:
Sum()

Enter N1 90
Enter N2 45

135

In [19]:
def Sum1(x,y):

    sum=x+y
    return sum

In [21]:
x=Sum1(56,89)

In [18]:
y=Sum()

Enter N1 90
Enter N2 67

157